POSTGRES_USER=de_user
POSTGRES_PASSWORD=de_password
POSTGRES_DB=dwh
POSTGRES_PORT=5432

MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_password
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET_RAW=raw
